{% extends 'blog/base.html' %}
{% block main-area %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post2.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">글쓴이: {{ post2.author }}</div>
                    <div class="text-muted fst-italic mb-2">{{ post2.create_date }}</div>
                    <!-- Post categories-->
                    {% if post2.category %}
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">
                            {{ post2.category.name }}
                        </a>
                    {% else %}
                      <a class="badge bg-secondary text-decoration-none link-light" href="#!">미분류</a>
                    {% endif %}

                    <a class="btn btn-primary" href="/blog/{{ post2.pk }}/delete/">
                        글 지우기
                    </a>
                    <a class="btn btn-success" href="/blog/{{ post2.pk }}/update/">
                        글 수정하기
                    </a>

                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    {% if post2.uploaded_image %}
                        <img class="img-fluid rounded" src={{ post2.uploaded_image.url }} alt="..." />
                        <!-- download image-->
                        <div>
                            <button>
                                <a href={{ post2.uploaded_image.url }} download>이미지 다운로드</a>
                            </button>
                        </div>
                    {% else %}
                        <img class="img-fluid rounded" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"/>
                    {% endif %}

                    <!-- download uploaded file-->
                    {% if post2.uploaded_file %}
                        <p>첨부 파일이 있습니다.</p>
                        <!-- download file-->
                        <div>
                            <button>
                                <a href={{ post2.uploaded_file.url }} download>파일 다운로드</a>
                            </button>
                        </div>
                    {% else %}
                        <p>첨부 파일이 없습니다.</p>
                    {% endif %}
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post2.content }}</p>
                </section>

            </article>
            <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">



                            <!-- Comment with nested comments-->
                            {% if comments %}
                                 {% for comment in comments %}
                                    <div class="d-flex mb-4">
                                        <!-- Parent comment-->
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">{{ comment.author.username }}</div>
                                            {{ comment.content }}
                                            <a class="btn btn-primary" href="/blog/{{ comment.pk }}/delete_comment/">
                                                댓글 삭제
                                            </a>
                                            <a class="btn btn-success" href="/blog/{{ comment.pk }}/update_comment/">
                                                댓글 수정
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div>댓글이 없습니다.</div>
                            {% endif %}

                        </div>
                    </div>
                </section>

                <!-- Comment form-->
                {% include 'blog/commentform.html' %}

        </div>
    </div>
</div>
{% endblock %}
