{% extends 'blog/base.html' %}

{% block main-area %}

<div>
    <!-- action="/blog/create/" 생략됨-->

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>작성자</div>{{ postform.author }}
        <div>글 제목</div>{{ postform.title }}
        <div>글 내용</div>{{ postform.content }}
        <div>분류</div>{{ postform.category }}
        <div>이미지 업로드</div>{{ postform.uploaded_image }}
        <div>파일 업로드</div>{{ postform.uploaded_file }}
        <input type="submit" >
    </form>
</div>

{% endblock %}
